.body{
    background-color: white;
    display: flex;
    width: 100%;
    overflow: auto;
    position: relative;
    height: auto;
    padding: 30px;
    flex-direction: row;
    justify-content:space-evenly;
    height: calc(100vh - 142px);
    min-height: 80vh;

    background-image: url("WLogo3_Clipped.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    justify-content: center;
    background-attachment: local;

 
}

.body2{
    background-color: white;
    display: flex;
    width: 100%;
    overflow: auto;
    position: relative;
    height: auto;
    padding: 30px;
    flex-direction: row;
    justify-content:space-evenly;
    height: calc(100vh - 142px);
    min-height: 80vh;
 
}

.list-container {
    overflow: hidden;
    height: fit-content;
}

.header{
    padding-top: 30px;
    padding-left: 30px;
}

h2{
    font-family: 'MoonGlade';
    color: black;
    font-size: x-large;
    font-weight: bolder;
    text-align: left;
}

.pic{
    position: absolute;
    text-align: center;
    margin-top: 10px;
    width: 650px;
    height: auto;
    z-index: -1;
    
}



@font-face {
    font-family: 'MoonGlade';
    src: url('../Header/moonglade.ttf');
  }
  
  @font-face {
    font-family: 'Millenia';
    src: url('../Header/millenia.ttf');
  }