.body{
    background-color: white;
    display: flex;
    width: 100%;
    height: 570px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 142px); 
}

.list-container {
    overflow: hidden;
    height: 100%;
}