.tile {
    float: left;
    text-align: center;
    background-color:forestgreen;
    width: 33%;
    height: fit-content;
    margin-left: 10%;
    padding: 10px;
    }

    h1{
        color: white
    }

    h2{
        text-align: center;
        
    }

    .message{
        color: white;
    }
    
    label{
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
    }
    
    input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
    }
    button{
    color: white;
    background-color: goldenrod;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
   
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }